p, h1, h2, h3, h4 {
  white-space: pre-line
}

body {
  background-color: #fff;
  height: 100vh;
}

.wrapper {
  min-height: 100%;
}

.footer {
  background-color: #232323;
  position: sticky;
  top: 100%;
  margin-top: 50px;
}
